<div class="login-container">

    <img class="usuario" src="assets/imagens/585e4bf3cb11b227491c339a.png" alt="">
    <h1>Cadastro</h1>

    <form [formGroup]="formClient" (ngSubmit)="cadastrarCliente()">

        <div class="half-box spacing">
            <label for="">CPF:</label>
            <input type="number" name="text" placeholder="CPF" autocomplete="off">
        </div>

        <div class="half-box">
            <label for="">RG:</label>
            <input type="number" name="text" placeholder="RG" autocomplete="off">
        </div>

        <div class="full-box">
            <label for="">Nome completo:</label>
            <input type="text" name="text" placeholder="Nome completo" autocomplete="off">
        </div>

        <div class="half-box spacing">
            <label for="">E-mail:</label>
            <input type="password" name="text" placeholder="E-mail">
        </div>

        <div class="half-box">
            <label for="">Celular:</label>
            <input type="number" name="text" placeholder="Celular" autocomplete="off">
        </div>

        <div class="full-box">
            <label for="">Data de Nacimento:</label>
            <input type="date" name="text" placeholder="Data de Nacimento" autocomplete="off">
        </div>

        <div class="half-box spacing">
            <label for="">Senha de Acesso:</label>
            <input type="text" name="text" placeholder="Senha de Acesso" autocomplete="off">
        </div>

        <div class="half-box">
            <label for="">Confirmar Senha:</label>
            <input type="text" name="text" placeholder="Confirmar Senha" autocomplete="off">
        </div>

        <div class="full-box">
            <input type="checkbox" name="agreement" id="agreement">
            <label for="agreement" id="agreement-label" >Eu li e aceito os <a href="#">termos de uso</a></label>
        </div>

        <div class="full-box">
            <button class="enter" type="button" (click)="navigate()">Login</button>
        </div>

    </form>
    
</div>